body {
    background-color: bfc0c0 !important;
    color: #4f5d75 !important;
}

.main-page {
    margin-top: 72px;
    margin-left: 24px !important;
    width: 50vw !important;
    float: left;
}

.spacer {
    height: 20px;
}

.btn-right {
    margin-left: 12px !important;
}

.link-text:hover {
    color: #0275d8;
    cursor: pointer;
}

.snippet-name-input {
    background-color: aliceblue !important;
    box-shadow: 2px 2px 8px #888888;
}

.select-card {
    margin-top: 3px;
    padding: 3px;
    padding-left: 12px;
}

.select-card-icon {
    position: absolute;
    top: 7px;
    right: 12px;
    color: #0275d8;
}

.select-card:hover {
    background-color: #0275d8;
    color: white;
    cursor: pointer;
}

.select-card:hover .select-card-icon {
    color: white;
}

.snippet-editor {
    background-color: aliceblue;
    min-height: 20em;
    box-shadow: 2px 2px 8px #888888;
}
