body {
    background-color: bfc0c0 !important;
    color: #4f5d75 !important;
}

.main-page {
    margin-top: 72px;
    margin-left: 24px !important;
    width: 50vw !important;
    float: left;
}

.spacer {
    height: 20px;
}

.btn-right {
    margin-left: 24px !important;
}